<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>619655525391-7fptk7a9smnu6cqrn8ugf4no0rhud9dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619655525391-7fptk7a9smnu6cqrn8ugf4no0rhud9dm</string>
	<key>API_KEY</key>
	<string>AIzaSyCeb_xg7uyRmGGAD2s_Lo55lSdje8aeanw</string>
	<key>GCM_SENDER_ID</key>
	<string>619655525391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samra.Wifi-permissions</string>
	<key>PROJECT_ID</key>
	<string>interop-automation</string>
	<key>STORAGE_BUCKET</key>
	<string>interop-automation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619655525391:ios:5f59effe5998f6f8</string>
	<key>DATABASE_URL</key>
	<string>https://interop-automation.firebaseio.com</string>
</dict>
</plist>